<div class="main-container">
  <div class="main-description">
    <h1>How To Play</h1>
    <h2>Guess the Wordle in 6 tries.</h2>

    <ul class="rule-list">
      <li><p>Each guess must be a valid 5-letter word.</p></li>
      <li>
        <p>
          The color of the tiles will change to show how close your guess was to
          the word.
        </p>
      </li>
    </ul>
  </div>

  <div class="examples">
    <h2>Examples</h2>
    <div class="title-container">
      <div class="example">
        <!-- ['W', 'E', 'A', 'R', 'Y'] -->
        <div class="letter-container">
          <span *ngFor="let x of 'WEARY'.split('')">
            <tile
              [letter]="x"
              [status]="
                x === 'W'
                  ? status.Exact
                  : x === 'R'
                  ? status.Contains
                  : status.NotIn
              "
            ></tile>
          </span>
        </div>
        <p class="description">
          <b>W</b> is in the word and in the correct spot.
        </p>
      </div>

      <div class="example"></div>

      <div class="example"></div>
    </div>
  </div>
</div>
