<div class="main-home-container">
  <div class="main-wordle-text-container">
    <h1 class="wordle-text">Wordle</h1>
    <div class="main-description-container">
      <p class="main-description-text">
        Get 6 chances to guess <br />
        a 5-letter word.
      </p>
    </div>
  </div>

  <div class="main-button-container">
    <ul class="button-list">
      <li class="button-list-item">
        <button mat-flat-button color="accent">How to play</button>
      </li>

      <li class="button-list-item">
        <button mat-flat-button color="accent">Log in</button>
      </li>

      <li class="button-list-item">
        <button mat-flat-button color="primary">Play</button>
      </li>
    </ul>
  </div>
</div>
