.main-home-container {
    background:rgb(199, 199, 57);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.wordle-text {
    font-size: 65pt;
    margin: 0;
}

.main-wordle-text-container {
    text-align: center;
}

.main-description-text {
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button-list {
    padding: 0;

    list-style: none;
    display: flex;
    justify-content: space-between;
}

.button-list-item {
    padding: 10px;
}

button {
  font-size: 15pt;
  padding: 20px 30px 20px 30px;
  min-width: 120px;
}
